*{
    margin:0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu-container{
    background-color:#6c63ff;
    padding: 10px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
}
.menus{
    display: flex;
    align-items: left;
}
.logo-photo{
    width: 160px;
    margin-left: 10px;
}
.item{
    margin-right: 10px;
    font-size: 18px;
    padding-right: 10px;
    cursor: pointer;
}
.item:hover{
    color: black;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url("/images/imge-bg.jpg"), 
    linear-gradient(90deg,rgba(252, 249, 249, 0.979), rgba(255, 252, 252, 0.973));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-img{
    width: 500px;
}
.title{
    font-size: 80px;
    font-weight: bold;
}
.description{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}
.btn{
    padding: 10px 20px;
    background-color: #6c63ff;
    font-size: 22px;
    color:white;
    border:none;
    border-radius: 3px;
}
.btn:hover{
    background-color:black;
    transition: background-color 0.5s ease-in;
}
.about{
    background-color: rgba(240, 240, 238, 0.932);
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.about-title{
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    color: #6c63ff;
}
.about-info{
    margin-left: 100px;
    padding-left: 50px;
}
.info-header{
    font-size: 40px;
    margin-bottom: 30px;
}
.info-pg{
    margin-bottom: 20px;
    font-size: 20px;
}
.service-container{
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;
}
.box{
    width: 300px;
    box-shadow: 4px 4px 15px #202020;
    text-align: center;
    padding: 10px;
    margin:20px;
    border-radius: 3px;
    justify-content: space-around;
}
.icon-img{
    margin: 10px;
    width: 100px;
}
.box-header{
    margin-top: 10px;
    padding-bottom: 10px;
}
.box-p{
    text-align: center;
    padding-bottom: 20px;
}
.box:hover{
    box-shadow: 5px 5px 15px #6c63ff;
}

.footer-container{
    background-color: #6c63ff;
    margin-top: 20px;
}
.footer-item{
    margin-top: 50px;
    display: flex;
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: space-around;
    
}
.footer-photo{
    width: 250px;
}
.links{
    margin: 10px;
}
.links a{
    text-decoration: none;
    display:block;
    margin: 5px;
    color: white;
    padding-top: 10px;
    font-size: 16px;
}
.links a:hover{
    color: black;
}
.contact-info{
    margin-top: 10px;
}
.contact-info p{
    margin-top: 15px;
    color: white;
}
.profile p{
    margin-left: 20px;
    color: white;
    font-size: 18px;
}
.copyright p{
    color: white;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}

/* <<<<< Media Query>>>> */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 601px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  
}

/* Medium devices (landscape tablets, 769px to 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}

/* Large devices (desktops, 1025px and up) */
@media only screen and (min-width: 1025px) {
    
}