*{
    margin:0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu-container{
    background-color: #080808;
    padding: 10px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
    align-items: left;
}
.logo-photo{
    width: 160px;
}
.item{
    margin-right: 10px;
    font-size: 18px;
    padding-right: 10px;
    cursor: pointer;
}
.item:hover{
    color: aqua;
}